@page "/"
@layout LandingPageLayout

<PageTitle>Robo Chef - Craft your next meal!</PageTitle>

<div class="page">
    <div class="pagestyle">
        <nav class="row align-items-center">
            <div class="col text-end me-3">
                <a href="https://riokei.github.io/" target="_blank">About</a>
            </div>
        </nav>
        <main class="landingPage">
            <div class="text-center">
                <img src="img/whitelogo.png" height="300"/>
                <h1 class="font-weight-bold">ROBO CHEF</h1>
            </div>
            <div class="text-center mt-5">
                
                <a class="btn btn-info btn-lg" href="/createmeal">Get Started</a>
            </div>
        </main>
        <footer class="text-center">
           Robo Chef &copy; Chris W. 2023 <br />
            Photo by <a href="https://unsplash.com/@@lvnatikk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Lily Banse</a> on <a href="https://unsplash.com/photos/-YHSwy6uqvk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

        </footer>
    </div>
</div>