@page "/mealideas"
@using AIChef.Shared;
@inject NavigationManager navigationManager

@if (loaded == true) {
<div class="container">
    <div class="mt-5">
        <h3>Pick a meal!</h3>
        <div class="list-group">
            @foreach (var idea in ideas)
            {
                <button class="list-group-item list-group-item-action list-group-item-info P2">
                    <div class="d-flex w-100 justify-content-sm-between">
                        <h2 class="mb-1 fw-bold">@idea.title</h2>
                        <p class="mb-1">@idea.description</p>
                    </div>
                </button>
            }
        </div>
    </div>
    </div>
} else
{
    <div class="container mt-5">
        <h3>Recipe State Values:</h3>
        <p>@rState.MealTime</p>
        @foreach (var item in rState.Ingredients)
        {
            <p>@item.Description</p>
        }

    </div>
}

@code {
    private List<Idea> ideas = new();
    private bool loaded = false;
    [CascadingParameter]
    private RecipeState? rState { get; set; }

    protected override void OnInitialized()
    {
        if (rState is null)
        {
            navigationManager.NavigateTo("/", forceLoad: true);
            return;
        }
    }

}
